{% extends 'main.html' %}
{% load staticfiles %}
{% block title %}Программист Python — Денис Морозов{% endblock %} {% block content %}
    <div class="container">
    <h1 class="title">Образование</h1>
    {% for record in records %}
        <p>{{ record.id }}. {{ record.duties }}</p>
        <hr/>
    {% endfor %}
    {#    <p>Окончил Запорожский государственный технический университет &mdash; (ЗГТУ) по специальности "Робототехника".#}
    {#        Будучи студентом увлекался Фотошопом и 3D-графикой.</p>#}
    {#    <p>После ВУЗа работал системным администратором, учился в аспирантуре 3 года.</p>#}
    {#    <p> Занимался SEO-оптимизацией. Тогда то я и обратил внимание на CSS, который казался загадочной магией.#}
    {#    </p>#}
    {#    <p>В конце 2016-го обучился основам HTML и CSS по курсам GeekBrains (<a href="https://geekbrains.ru/users/58440">клац</a>).#}
    {#        Практиковался, а затем полноценно работал верстальщиком в интернет-агентстве. Верстал лендинги с упором на#}
    {#        максимальную оптимизацию и поддержку IE8.</p>#}
    {#    <p>В марте 2017-го перешёл на удалённый режим работы.</p>#}
{% endblock %}
</div>
