{% extends 'main.html' %}
{% load staticfiles %}
{% block title %}Программист Python — Денис Морозов{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="title">Профессиональные навыки</h1>
        {% for record in records %}
            <p>{{ record.id }}. {{ record.group }}</p>
        {% endfor %}
{#        Владение HTML5 и&nbsp;CSS3;<br/> Валидная кроссбраузерная и&nbsp;блочная вёрстка сайтов;<br/> Использование#}
{#        препроцессоров LESS;<br/> Разработка с&nbsp;использованием Twitter Bootstrap;<br/> Разработка программ на&nbsp;языке#}
{#        программирования Python как в&nbsp;процедурном, так и&nbsp;в&nbsp;#}
{#        <nobr>объектно-ориентированно</nobr>#}
{#        стиле;<br/> Разработка системных скриптов с&nbsp;применением стандартных и&nbsp;сторонних библиотек (виртуальное#}
{#        окружение virtualenv);<br/> Опыт работы с&nbsp;JSON, HTTP;<br/> Разработка собственного движка сайта;<br/>#}
{#        Работа с&nbsp;файлами, базой данных MySQL и&nbsp;SQLite;<br/> Знание основ синтаксиса языка SQL и&nbsp;проектирования#}
{#        базы данных;<br/> Применение IDE и&nbsp;полезных приемов#}
{#        <nobr>авто-проверки</nobr>#}
{#        кода;<br/> Делегация событиями и&nbsp;управление структурой DOM;<br/> Знания внутреннего устройства#}
{#        интерпретатора JavaScript;<br/> Внедрение шаблона проектирования MVC;<br/> Проектирование логики#}
{#        <nobr>веб-сайтов</nobr>#}
{#        , успешная реализация эффективной авторизации и&nbsp;регистрации пользователей;<br/> Создание быстрых и&nbsp;безопасных#}
{#        <nobr>веб-сайтов</nobr>#}
{#        <p></p>#}
    </div>
    <div class="container">
    <h2 class="title"> Личные качества:</h2>
{#    {% for record in records_q %}#}
{#        <p>{{ record.name_q }}. {{ record.description_q }}</p>#}
{#    {% endfor %}#}
    <p class="plus">Пунктуальность. Планирование реальных сроков разработки и их соблюдение</p>
    <p class="plus">Культура кода. Написание понятного кода, который легко развивать и поддерживать</p>
    <p class="plus">Работа в команде. Опыт эффективного взаимодействия с командой разработчиков</p>
    <p class="plus">Личная эффективность. Умение быстро решать поставленные задачи как в работе, так и в личной
        жизни</p>
    <p class="plus">Мне интересно находить нестандартные решения. Стремлюсь создавать оптимальный и понятный код.
    </p>
{% endblock %}
</div>
